
#type_text {
    color:rgb(255, 255, 255);
    text-align: center;
    /* position: relative; */
    top: 200px;
    left: 0px;
    font-size: 40px;
    font-family: 'Wallpoet', cursive;
} 

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-image: linear-gradient(rgb(3, 3, 67), black);
    background-color: #7e1a1a;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    text-align: center;
    width: 1500px;
    height: 900px; 
}

body {
    background-image: linear-gradient(rgb(3, 3, 67), black);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    min-height: 100vh;
    background: black;
    flex-direction: column;
    font-family: 'Wallpoet', cursive;
    /* margin: 0; */
}

